html {
  font-size: 100%
}

body {
  background-color: #e8fcf1;
  /*background-color: #edfff7;*/
  display: flex;
  flex-flow: row-wrap;
  font-family: 'maison', sans-serif;
  text-align: center;
}

a {
  color: #0060b6;
  text-decoration: none;
}

a:hover {
  color: #00a0c6;
  text-decoration: none;
  cursor: pointer;
}

a:visited {
  color: #faa693;
}

a.project-link::before {
  content: ' ';
  width: 60px;
  height: 4px;
  vertical-align: middle;
  margin: 0 24px 0 -84px;
  display: inline-block;
  background-color: #000;
  position: relative;
  z-index: 103;
}

header {
  position: absolute;
  left: 180px;
  /*border-bottom: 4px solid #000;*/
  padding-bottom: .5em;
  padding: 1 10px;
  margin: 0 -1em;
}

img {
  height: 275px;
  width: 475px;
}

h5 {
  font-weight: bold;
  font-size: 26px;
  letter-spacing: 0.76px;
  line-height: 39px;
  margin: 0 0 20px;
  padding: 0;
}

.header-name {
  float: left;
}

.blurb {
  position: absolute;
  height: 225px;
  width: 75px;
  right: 180px;
  border-left: 4px solid #000;
  padding-left: 2em;
}

#menu-btn {
  display: block;
  height: 20px;
  margin-top: 16px;
  position: absolute;
  top: 0;
  right: 28px;
  width: 80px;
  user-select: none;
  z-index: 10;
}

span, #menu-btn span:before, #menu-btn span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 4px;
  width: 30px;
  background: black;
  position: absolute;
  display: block;
  content: '';
  border-radius: 3px;
}

#menu-btn span, #menu-btn span:before, #menu-btn span:after {
  transition: all 300ms ease-in-out;
}

#menu-btn span:after {
    bottom: -10px;
}

/*#projects {
display: flex;
flex-flow: row-wrap;
justify-content: flex-start;
}*/

.project-blurb {
  padding: 75px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0;
  margin: 0 0 20px;
}

.email {
  height: 65px;
  width: 65px;
}
